.day{
    width: 14%;
    display: inline-block;
    cursor:pointer;
}

.day:hover{
    color: gray;
}

.happy{
    background-color: pink;
}

.sad{
    background-color: gray;
}

.angry{
    background-color: red;
}


.disgust{
    background-color: darkblue;
}

.fear{
    background-color: darkviolet;
}

.surprise{
    background-color: gray;
}

.neutral{
    background-color: wheat;
}